body {
    background-color: #aad4cf;

}

header h1{
    font-family: sans-serif;
    font-size: 60px;
    color: white;
    font-weight: lighter;
    position: relative;
    top: 305px;
    left: 335px;
}


header ul li{
    list-style: none;
    display: inline;
 
}

.site-header{
    max-width: 1000px;
    margin: 0 auto;
}