/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET CODE ADDED*/

/*We need to implement the box model*/
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

/* set up of the wrapper centering everything*/
.wrapper {  
    max-width: 1200px;
    margin: auto;
}
.nav-part {
    background-color:#222;

}

.logo { 
    max-width: 1200px;
    height: auto;
    margin-left: 20px;
    margin-bottom: 0px;
    background-color: #c78c06;
    border:0px;
    position:absolute; /* this is for integrate the logo into the first link item (overlapping) */
    top:5px; 
}


/* targeting and modifying list of elements in nav bar for centering text and remove default text decorations */
li a:link {
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
    color: #c78c06;
    text-align: center;  
    display:flex;
    flex-direction: column;
    margin: 20px;    
}

/* this is for get rid off the annoying purple color when a link is visited */

a:visited { 
    color: #c78c06;
}
/* targeting and modifying specifically the first link on the nav bar */
.nav-bar .home {
    color: #222;
    background-color: #c78c06;
    padding-top: 150px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;    
}


