/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET CODE ADDED*/

/*We need to implement the box model*/
html {    
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    
}

* {
    box-sizing: border-box;
}


/* set up of the wrapper centering everything*/
.wrapper {  
    max-width: 1200px;
    margin: auto;
}

/* HEADER PART */


.nav-part {
    background-color:#222;
}

.logo { 
    max-width: 1200px;
    height: auto;
    margin-left: 20px;
    margin-bottom: 0px;
    background-color: #c78c06;
    border:0px;
    position:absolute; /* this is for integrate the logo into the first link item (overlapping) */
    top:5px; 
}


/* targeting and modifying list of elements in nav bar for centering text and remove default text decorations */
nav li a {
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
    color: #c78c06;
    text-align: center;  
    display:flex;
    flex-direction: column;
    margin: 20px;    
}

/* this is for get rid off the annoying purple color when a link is visited */


/* targeting and modifying specifically the first link on the nav bar */

.nav-bar .home {
    color: #222;
    background-color: #c78c06;
    padding-top: 150px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;    
}

/* new wrapper added just to make a responsive search bar in the nav bar area */

.sbwrapper {
    display: flex; /* using only flex to make a row through the nav bar area */          
}
.searchb { /* modifying shape of search bar */
    margin:20px;
    width: 100%;
    height: 2rem;    
    font-size: 20px;    
}

.iconm {    /* modifying shape of icon */
    width: 50px;
    height: 2rem;    
    padding: 0px;
    background-color: #222;
    border-color: #c78c06;
    position: relative;
    right: 18px;
    bottom: -20px;       
}

.fa-magnifying-glass { /* modifying shape of magnifying glass */
    color: #c78c06;
    font-size: 30px;       
}

/* END OF HEADER PART */

/* START OF BANNER PART */

.main-banner { /* responsive image configuration */
    max-width: 1200px;
    margin: auto;      
}

.mbanner { /*targeting image*/
    max-width: 1200px;    
}
.wrapper-welcome {    /*grey box banner text area*/
    background-color:rgb(0, 0, 0, 0.7);    
    max-width: 1200px;
    margin: auto; /*allows to get the edge to edge look in mobile interface*/
    /*height: auto;*/
    padding: 100px; /*shrinks or enlarge shadowed box*/
    position:absolute;
    top: 520px;          
}

.hwel { /*target only h1 in banner area*/
    font-size: 80px;
    color: white;
    padding:20px 0px 20px 0px;  /*adds some space between h1 and p*/
    text-align: left;    /*aligns a little bit to the left*/
    font-weight:bold;
}

.wrapper-welcome p { /*target only paragraph in banner area*/
    font-size: 18px;
    color:white;
    padding:30px 0px 50px 0px; /*adds some space between p and h1*/
    text-align: left; /*aligns a little bit to the left*/
}

.connect { /*style connect with us button incluiding the icon*/
    color: #222;
    font-size: 28px;
    text-decoration: none;
    background-color:#c78c06;       
    padding:20px; 
    text-align: left;  /* align text inside the link area just to give some space to the icon*/
}

/* END OF BANNER PART */

/* START OF ABOUT SECTION */

 .about { /*styling background of "about us" section*/ 
     background-color:#ffe6ac;
     max-width: 1200px;
     margin: auto;
     padding: 20px;
 }

 .ttennis { /* changing image size and adding some padding to bottom area*/
     width: 100%;
     padding-bottom: 10px;
 }

 h1 { /* styling all h1 titles*/
    font-size:48px;
    padding: 20px 20px 20px 0px;
    font-weight: bold;
 }

 .parabt { /*targeting paragraphs of "about us section"*/
     font-size: 18px;
 }

 /* END OF ABOUT SECTION */

 /* START OF OUR SERVICES SECTION */
                                             /* DIGITAL TRANSFORMATION */
 
.ourserv { /*applying background to "our services" area*/          
    background-color: white;
    max-width: 1200px;
    margin: auto;    
}

.trans { /* applying styling to div for demark more area*/
    padding-bottom: 25px;
    margin:10px 40px 20px 40px;
    background-color: #ffe6ac;    
}
.hos { /*targeting h1 to correct some padding*/
    padding: 40px 20px 20px 30px;  
}
.trans h2{ /*targeting h1 to demark some padding area*/
   font-size: 32px;
   font-weight: bold;
   padding: 20px 20px 20px 0px;
   margin: 10px; 
}
.trans p { /*adding margin to paragraph*/
    margin: 10px;
}
.digital { /*adapting image to delimited area*/
    width: 100%;
}

.digitalplans { /* modifying link to style it as a button*/
    color:white;
    font-size: 28px;
    text-decoration: none;
    background-color:#222;       
    padding:20px ; 
    text-align: left;
    margin: 10px; 
}

.button { /*targeting a div to format all buttons after this one (digital plans)*/
    padding: 40px 20px 10px 0px;
}

                                        /* END DIGITAL TRANSFORMATION */

                                        /* MARKETING */
.marketing { /*adapting image to delimited area*/
    width: 100%;  
}
.market { /* applying styling to div for demark more area*/
    padding-bottom: 25px;
    margin:10px 40px 20px 40px;
    background-color: #ffe6ac; 
}

.market h2 { /*targeting h2 to demark some padding area*/
    font-size: 32px;
   font-weight: bold;
   padding: 20px 20px 20px 0px;
   margin: 10px;
}

.market p { /*adding margin to paragraph*/
    margin: 10px; 
}

.marketplans { /* modifying link to style it as a button*/
    color:white;
    font-size: 28px;
    text-decoration: none;
    background-color:#222;       
    padding:20px ; 
    text-align: left;
    margin: 10px; 
}
                                    /* END MARKETING */
                                    /* VIDEO PRODUCTION */

.video { /*adapting image to delimited area*/
    width: 100%; 
}

.vid { /* applying styling to div for demark more area*/
    padding-bottom: 25px;
    margin:10px 40px 20px 40px;
    background-color: #ffe6ac;  
}

.vid h2 { /*targeting h2 to demark some padding area*/
    font-size: 32px;
    font-weight: bold;
    padding: 20px 20px 20px 0px;
    margin: 10px;
}

.vid p { /*adding margin to paragraph*/
    margin: 10px;
}

.vidplans { /* modifying link to style it as a button*/
    color:white;
    font-size: 28px;
    text-decoration: none;
    background-color:#222;       
    padding:20px ; 
    text-align: left;
    margin: 10px; 
}
                            /* END VIDEO PRODUCTION */
                            /* WEB DEVELOPMENT */
.web { /*adapting image to delimited area*/
    width: 100%; 
}

.webdev { /* applying styling to div for demark more area*/
    padding-bottom: 25px;
    margin:10px 40px 20px 40px;
    background-color: #ffe6ac;  
}

.webdev h2 { /*targeting h2 to demark some padding area*/
    font-size: 32px;
    font-weight: bold;
    padding: 20px 20px 20px 0px;
    margin: 10px;
}

.webdev p { /*adding margin to paragraph*/
    margin: 10px;
}

.webplans { /* modifying link to style it as a button*/
    color:white;
    font-size: 28px;
    text-decoration: none;
    background-color:#222;       
    padding:20px ; 
    text-align: left;
    margin: 10px; 
} 
                        /* END WEB DEVELOPMENT */
                        /* PRINT AREA */
.print { /*adapting image to delimited area*/
    width: 100%; 
}
.print-area { /* applying styling to div for demark more area*/
    padding-bottom: 25px;
    margin:10px 40px 20px 40px;
    background-color: #ffe6ac; 
}
.print-area h2 { /*targeting h2 to demark some padding area*/
    font-size: 32px;
    font-weight: bold;
    padding: 20px 20px 20px 0px;
    margin: 10px;
}
.print-area p { /*adding margin to paragraph*/
    margin: 10px;
}
.printplans { /* modifying link to style it as a button*/
    color:white;
    font-size: 28px;
    text-decoration: none;
    background-color:#222;       
    padding:20px ; 
    text-align: left;
    margin: 10px; 
}
                            /* END PRINT AREA */




